@import "tailwindcss";

body, html {
    overflow-x: hidden;
}

.highlight {
    @apply py-0.5 px-2 bg-[#7366FE40] rounded-lg rounded-tr-none rounded-br-none text-inherit -z-10;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.grad {
    background: linear-gradient(230.53deg, #FF31E4 7.13%, #7500F3 42.69%, #002CBE 61.29%, #0DECF0 90.95%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    padding-bottom: 4px;
    display: inline-block;
}
  